* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.todoplace {
  width: 1100px;
  height: 700px;
  background-color: #eef1f3;
  border-radius: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.318);
  overflow: hidden;

}

.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.titlefont {
  font-size: 25px;
  padding-top: 20px;
  padding-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2c3e50;
}

.descfont {
  font-size: 18px;
  padding-left: 40px;
  color: #7f8c8d;
  line-height: 1.5;
}

.checkboxstyle {
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 30px;
  padding-top: 5px;
  background-color: #ffffff;
  border-radius: 7px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.checkboxstyle:hover {
  background-color: #e0dedebe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.checksection {
  margin-top: 30px;
  height: 450px;
  overflow-y: auto; 
}

.checkboxstyle .MuiFormControlLabel-label {
  font-size: 17px;
  color: rgb(0, 0, 0);
  padding-bottom: 3px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addbuttom {
  padding-left: 40px;
  padding-top: 40px;
}

.addbuttom .MuiFab-root {
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
}

.addbuttom .MuiFab-root:hover {
  background-color: #669cec;
  transition: all 0.3s ease;
}


.editbuttom {
  padding-right: 20px;
}

.editbuttom .MuiFab-root {
  background-color: transparent; 
  border: none; 
  width: 32px;
  height: 30px;
  border-radius: 10px;
  box-shadow: none; 
  color: rgb(0, 0, 0); 
}

.editbuttom .MuiFab-root:hover {
  background-color: transparent; 
  box-shadow: none; 
  transition: all 0.3s ease;
}

.todo-input {
  width: 450px;
  height: 55px;
  margin-left: 20px;
  padding: 0 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.todo-input:focus {
  border-color: #3498db;
}

.custom-dialog .MuiPaper-root {
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(115, 184, 224, 0.578);
}

.custom-dialog .MuiDialogTitle-root {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding-bottom: 10px;
}


